.log {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: fit-content;
    padding: 20px 40px;
    border: 2px solid var(--primary2);
    background-color: var(--primary4);
    font-size: 20px;
    color: var(--primary2);
}