@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;1,500&display=swap');
@import url('variables.css');
@import url('layout.css');
@import url('navbar.css');
@import url('login.css');
@import url('newpost.css');
@import url('home.css');
@import url('footer.css');


* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary1);
    font-family: 'segoe ui';
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

h1 {
    margin: 0;
    margin-left: 10px;
    font-size: 40px;
    font-weight: 600;
}

h2 {
    margin: 0;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 400;
}

h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

a.link {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
    color: var(--primary5);
}