.newpost {
    margin-top: 50px;
}

form > textarea {
    background-color: var(--primary2);
    border: 0px;
    border-bottom: 2px solid var(--primary5);
    display: block;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 4px;
    height: 200px;
    width: 100%;
    resize: none;
}

.new_component {
    background-color: var(--primary2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 0;
    transition: 0.2s, color;
    font-size: 100px;
    color: var(--primary3);
}

.new_component:hover {
    background-color: var(--primary3);
    color: var(--primary2);
}

.component_form {
    background-color: var(--primary2);
    width: 100%;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.component_type {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.component_type label {
    font-size: 24px;
    line-height: 50px;
    margin-right: 20px;
}

.component_type input {
    font-size: 24px;
    margin-left: 20px;
}

.component_content {
    width: 100%;
    flex: 1;
    resize: none;
    font-size: 20px;
}